<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text navigation-Link">
      <span>Início</span>
    </span>
    <span class="navigation-links-text1 navigation-Link">
      <span>Sobre Nós</span>
    </span>
    <span class="navigation-links-text2 navigation-Link">
      <span>Serviços</span>
    </span>
    <span class="navigation-links-text3 navigation-Link">
      <span>Perguntas Frequentes</span>
    </span>
  </nav>
</div>
