<div>
  <link href="./services-card.css" rel="stylesheet" />
  <div class="services-card-services-card services-card">
    <div class="services-card-container">
      <img
        alt="image"
        src="public/playground_assets/website-200h.png"
        class="services-card-image"
      />
    </div>
    <span class="services-card-text">
      <span>Comida com perfeição e elegância</span>
    </span>
    <span class="services-card-text1">
      <span>
        Com uma variedade de estilos de menu disponíveis, incluindo: casamento,
        coquetel, formatura, aniversários, etc. podemos fornecer o que você
        precisa para sua ocasião especial.
      </span>
    </span>
    <span class="services-card-text2"><span>Learn more</span></span>
  </div>
</div>
